footer{
    margin-top: 50px;    
    font-size: 14px;
    font-weight: 700;
    background-color: #f0f3f3;
}

.footerinfo{
    padding: 35px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;

}

.contactinfo,.information,.customercare{
    width:33.3%;
}
.pagewidth{
padding: 0 15px;
max-width: 1200px;
    margin: 0 auto;
}

.footerinfo ul, li {
    list-style: none;
    padding: 0;
    margin-bottom: 7px;
}

footer hr{
    margin: 0;
}

.foothead{
    margin-top: 0;
    text-transform: uppercase;
}

.socialicons{
  display: flex;
  flex-direction: row;
   
}


.socialicons li{
    padding: 0 7px;
    
}

li.firsticon{
    padding-left: 0;
}

.icontext{
    font-family: 'RennerMediumFont';
font-size: 12px;  
padding-left: 3px;
font-weight: 700;
}

.bottomfooter{
    padding: 15px 0;
    border-top: 1px dotted #000000;
}

.devlinks{
    font-size: 12px;
    color: red;
}