@font-face {
    font-family: 'RennerMediumFont';
    src: url(https://cdn.shopify.com/s/files/1/0464/1731/3955/files/montserrat-v15-latin-regular.woff2?v=1621583821) format("woff2"), url(https://cdn.shopify.com/s/files/1/0464/1731/3955/files/montserrat-v15-latin-regular.woff?v=1621583841) format("woff"); }
  
body{
    font-family: 'RennerMediumFont';
    font-size: 12px;
}
header {
    text-align: center;
    font-weight: 600;
    display: unset;
}

.headerlogo img {
    min-width:150px;
    max-width:330px;
    padding-top: 10px;
}

.navbar{
    border-bottom: 1px solid #000000;
}
.navbar ul {
    display : inline-flex;
    list-style: none;
    color: #000000;
    padding-inline-start: 0px;
   
    
}

.navbar ul li {
    
    padding: 5px;
    margin:0px;
}

.navbar ul li a {
    color: #000000;
    text-decoration: none; 
    text-transform: uppercase;
    
    
}

.navbar ul li :hover{
    color: #40e0d0;
}

.dropdown{
    display:none;
   
}

.navbar ul :hover .dropdown {
    display:block;
    position: absolute;
}

.navbar ul :hover .dropdown ul {
display: block;
margin: 10px;
text-transform: none;
opacity: 1;
box-shadow: 0 0 4px #0000001a;
background-color: #fff;


}

.dropdown ul :hover {
background: #f2f2f2;
}
.dropdown ul li a{
    text-transform: capitalize ;
    font-weight: 400;
    font-size: 14px;
}


.topheader{
    font-weight: 700;
    background-color: #fcdcdc;
    min-height: 21px;
}

.topheadcontent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 7px 0 ;
}

body{
    margin:0;
}

.headericons{
    display:flex;
    flex-direction: row;
  justify-content: center;
  align-items: baseline;
}


.iconsleft{
    visibility: hidden;
    margin-right:auto;
    flex:1;
}

.iconsright{
    flex: 1;

}

.iconsright span {
    padding: 5px;
}

.locationbar{
    text-decoration: none; 
    text-transform: uppercase;
    background-color: #f9f9f9;
    margin-bottom: 30px;
    text-align: left;
    height: 35px;   
    
}

.locationbar a{
    text-decoration: none;
    color: #000000;
}

.locationelements{
    padding-left: 100px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 8px;
}

.locationelements a,span{
        padding-right: 8px;

}

.persistent { 
    width: 100%;
    opacity: 1;
    background-color: #fff;
}

.wrapper{
    min-height: 108.55px;
    position: sticky;
    top: 0;
    z-index: 5;
}